/docs/
/lib/
/bin/
/.shards/
.crystal
.github
*.dwarf
start_server
*.dwarf
*.local.cr
.env
.github\workflows
/tmp
/public/js
/public/css
/public/mix-manifest.json
/node_modules
yarn-error.log
Dockerfile
.travis.yml
